@charset "UTF-8";

h1 {
	font-size: 20px; 
	font-family: sans-serif; 
	margin: 0 auto; 
	padding: 50px 10px 20px 10px;
}

.title {
	color: #F8AB3E;
	font-family: Lobster, sans-serif;
	font-size: 45px;
	
}

img {
	float: left; 
}

body {
	text-align: center; 
    font-size: 18px;
    margin: 0 auto;
	background-color: lightgrey;
}

.background-img{
	opacity:0.4 !important;
	background-image: url("../img/prettydeath.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color:white;
}

p { 
    font-size: 14px; 
    margin: 0 auto;  
    padding-bottom: 20px; 
}

nav {
	background-color: blue; 
	margin: 0 auto; 
	padding: 0 auto; 
}

ul {
	margin: 0 auto; 
}

li {
	display: inline-block; 
	padding-left: 20px; 
	font-size: 18px; 
	list-style: none; 
}

a {
	text-decoration: none; 
	color: white;
	}
	
footer {
	padding-top: 10px; 
	padding-bottom: 5px;
}

#allPotholeList {

	padding-left: 10%;
	border-top-width: 25px;
	padding-right: 10%;
	margin-bottom: 200px;
}

#report {
	padding-left: 10%;
	border-top-width: 25px;
	padding-right: 10%;
	margin-bottom: 200px;
}

hr {
	width: 90%;
}

.navbar-inverse {
	/*background-image: linear-gradient(to right top, #1f1f1f, #272727, #2f2f2f, #373737, #3f3f3f);*/
	background-image: linear-gradient(to top, #141414, #1e1e1e, #292828, #343233, #3f3d3d);
}

.allPotholes {

	border-style: solid;
	border-radius: 10px;
	border-color: hsl(0, 0%, 90%);
	padding-top: 10px;
	margin-top: 10px;

}

.updatePothole {
	
	border-style: solid;
	border-radius: 10px;
	border-color: hsl(0, 0%, 90%);
	margin: 0% 20% 3% 20%;
	text-align: left;
	background: white;
	opacity: 0.92;
}

.innerUpdate {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 10px;
}


#pothole {
	padding-right: 8%;
}

#pothole b{
	font-weight: 700;
	color: hsl(0, 0%, 13%);

}
#pothole p{
	font-weight: 500;
	color: hsl(0, 0%, 45%);
	padding: 0px;

}
.modal-backdrop.in{
	 opacity: 0.5 !important;
}

#map {
	margin: 0 auto;
	height: 65%;
	border-radius: 10px;
}

.modal-content{
	background-image: url("../img/loginBackground.png");
	opacity:0.87 !important;
	color:white;
}

.severity-img {
	max-width: 50px;
	max-height: 50px
}

#registerText{
	color:white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#registerText a {
	color:white;
}

#home{
	background-color: white;
	/* background-image: url("../img/shortnorth.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.home-content {
	background-color: #EBCDA2;
	background-opacity:0.4 !important;
	margin: 0% 10% 0% 10%;
	border-style: solid;
	border-width: 10px;
	border-radius: 40px;
	border-color: hsl(0, 0%, 30%);
}

.error {
	/*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
	color : #ff4d00;
}

#pave-pal {
	max-width: 200px;
	margin: 2%;
}

#road-to-well-box {
	align-text: center;
	
}

#road-to-well {
	font-family: 'Lobster', cursive;
	opacity: 0.8;
	font-size: 23px !important;
	padding: 10%;
}

.copyright {
    padding: 0px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(to top, #141414, #0f0f0f, #1d1c1c, #343233, #3f3d3d);
    color: white;
    text-align: center;
}


.body {
    background-image: url("../img/The-road-to-black-and-white.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.allPotholes {
    background-color: white;
    opacity: 0.92;
}

h3{
	color: hsl(0, 0%, 45%);

}